*{
	font-size:18px;
}
/* welcome.js */
.welcomContainer{
	padding:13em;
}

/* main page */
#mainBackGround{
	background-image: url("https://images.unsplash.com/photo-1510521212584-6d33ce4408d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1358&q=80");
	box-shadow: inset 0 0 0 1000px rgba(36, 36, 36, 0.42);
	height: 1024px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.goparkWord{
	display: inline-block;
}
.goparkWord p{
	font-size:130px;
	color: lightyellow;
	font-family: 'Zhi Mang Xing', cursive;
}
.parkMenubar{
	margin-left:30%;
	margin-top:2%;
}

.parkMenubar select{
	width:550px;
	height:2.2em;
	font-size: 18px;
}

/* Event modal */
.modal-dialog{
	z-index:inherit;
}
.eventContainer{
	display: flex;
	justify-content: center;
}
.modal-content{
	width:670px;
}
/* about.js */
.imageInAbout{	
	display: flex;	
	flex-flow: row wrap;	
	/* margin:auto; */	
	justify-content: center;	
}	


.aboutMainText{	
	font-size: 40px;	
	font-family: 'Lobster', cursive;	
	padding:4em;	
}	
.svgImageAbout{	
	display: flex;	
	flex-flow: row wrap;	
	/* margin:auto; */	
	justify-content: space-around;	
	/* justify-content: center; */	
	margin: 4em 0em;	
}

.aboutContainer{
	position: relative;
}

.aboutContainer img{
    height:400px;
    width:100%;
}

.aboutTextCenter{
	position: absolute;
	top:20%;
	left:40%;
	color:lightseagreen;
	font-size: 80px;
	font-weight: bold;
}
.aboutPtagTextCenter{
	position: absolute;
	top:50%;
	left:25%;
	/* text-align: center; */
	color:lightpink;
	font-size: 20px;	
}

/* parkList */

.backgroundImg{
    background: url("https://wallpapershome.com/images/wallpapers/trees-3840x2160-4k-hd-wallpaper-blossom-park-pink-5266.jpg");
    box-shadow: inset 0 0 0 1000px rgba(247, 244, 244, 0.42);
}
.cardContainer{
    display: flex;
    flex-flow: row wrap;
    margin:auto;
    margin-left:2%;
}

#sizeNavBar{
    margin-bottom:0;
}

#navbarSupportedContent a{
    font-size:20px;

}
.extra.content{
	text-align: center;
}

/* sarch bar */
.searchContainer{
    display: flex;
    justify-content: center;
    padding:1%;
}
.searchContainer input{
    width:400px;
    height:50px;
    font-size: 20px;
    margin-top: 2%;
}
.radioContainer{
    display: flex;
    justify-content: center;
}
.radioContainer input{
    margin-left:2%;
}
.radioText{
    color:rgb(0, 0, 0)
}
/*  */
.ui.card{
    background-color: rgb(255, 245, 138);
	width:200px;
	height:420px; 
    margin:15px;  
}

#parkImage{
    height:280px;
    width:200px;
    position:relative;
    right:1px;
    bottom:1px;
}

/* parkDetail */
.detailParkName{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.pTagBackground{
	background-color: lightgrey;
	margin-right: 4em;
	padding:1.2em
}
.parkDetailContainer{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx1oxiebInDGV0YI_aogGygLyD4BNTEm2LnedwLp-4wbJNaHD6gw&s");
    box-shadow: inset 0 0 0 1000px rgba(247, 244, 244, 0.42);
    /* object-fit: cover; */
    background-position: center;
    background-size: cover;
}

#seconImgDetail{
	padding-top:0;
}

#parkDetailImage{
    height:250px;
    width:400px;
    margin: 0 3% 3% 3%;
}

.d-flex.ml-3{
    height:300px;
    width:400px;
	padding:0% 2% 2% 0%;

}
.parkDetailContainer h5{
    padding-top:0;
	font-weight: bold;
	font-size: 25px;
}
.parkDetailContainer p{
    font-size: 20px;
}
#cardDetailSecondPandh5tag{
	padding-left:3.5%;
}

.directionText{
	font-size: 50px;
	text-align: center;
	padding-top:0.5em;
	padding-bottom:0.5em;
	font-family: 'Sriracha', cursive;
}
.directionText a{
	font-size:20px;
}

.mapContainer {
	position: relative;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height:400px;
	margin: 2% 0%;
}

/* about Navbar */
.d-flex.justify-content-end a{
    color: gray
}

#navOption{
	padding-left:1em;
}

#profileSignoutTag{
	padding-top:.5em;
}
/* welcome login signup */

.panel-login {
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
